.modal-title {
  color: #6087c8;
  font-weight: 600;
}

.modal-content {
  border-radius: 30px;
}

.modal-event-date {
  font-weight: 500;
  margin: 5px;
}

.control-label {
  font-size: 14px;
}

.form-control {
  background: #DCE9FE;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    background: #DCE9FE;
  }
}