.social-bar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px 0 0 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 50%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -350px;
  width: 250px;
  height: 100%;
  background-color: rgba(30, 83, 174, 0.9);
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 4;

  .sidebar-menu {
    margin-top: 40px;
    padding: 0.5rem 1rem;
  }
}

.sidebar {
  .menu-item {
    margin-bottom: 12px;
  }

  a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 1.115;
  }
}


.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  float: right;
  cursor: pointer;
  margin: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(96 135 200 / 61%);
  display: none;
  z-index: 3;
}

.header {
  background: rgb(229,240,248);
  background: radial-gradient(circle, rgba(229,240,248,1) 0%, rgba(178,206,247,1) 100%);

  & > .container {
    display: flex;
  }

  .phones {
    display: none;
    vertical-align: middle;
    margin-right: 20px;
    text-align: left;

    @include media-min(md) {
      display: inline-block;
    }
  }

  .search-holder {
    @include media-between(md, lg) {
      margin-top: 40px;
    }
  }

  .phone-link {
    color: #1E53AE;
    display: block;
    font-size: 14px;
    font-weight: 500;
  }

  .phone-link:nth-of-type(2) {
    margin-top: 8px;
  }
}

.header-top {
  border-bottom: 1px solid #cadcf6;
  align-items: center;
  padding-bottom: 20px;
  position: relative;
  justify-content: center;

  @include media-between(xs, sm) {
    padding-bottom: 80px;
  }

  @include media-min(sm) {
    justify-content: space-between;
  }

  @include media-min(lg) {
    align-items: inherit;
  }
}

.main-logo {
  width: 57px;

  @include media-min(md) {
    width: 87px;
  }
}

.header-logo-link {
  display: inline-block;
  text-align: center;

  .company-name {
    color: #1E53AE;
    font-family: 'Rubik Bubbles', sans-serif;
    font-size: 16px;

    @include media-min(md) {
      font-size: 25px;
    }
  }

  .company-description {
    @include media-max(md) {
      display: none;
      font-size: 14px;
    }
  }
}

.header-action-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-min(lg) {
    width: 100%;
  }
}

.header-menu-holder {
  display: none;

  @include media-min(lg) {
    display: block;
    margin-left: 40px;
    margin-bottom: 20px;
  }
}

.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header-hamburger {
  padding-right: 20px;
  min-width: 42px;

  @include media-max(sm) {
    position: absolute;
    bottom: 23px;
    left: 15px;
  }

  @include media-min(lg) {
    display: none;
  }
}

.menu-item {
  display: inline-block;

  a {
    font-weight: 500;

    @include media-min(lg) {
      margin: 0 8px;
    }

    @include media-min(xl) {
      margin: 0 16px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-actions {
  text-align: right;
}

.social-icons img {
  width: 48px;
}

.header-search-form {
  background: #DCE9FE;
  border-radius: 30px;
  padding: 5px 5px 5px 15px;

  @include media-between(xs, sm) {
    background: #DCE9FE;
    position: absolute;
    bottom: 15px;
    left: 62%;
    transform: translateX(-50%);
    width: calc(80% - 60px);
  }

  .header-search-btn {
    display: inline-block;
    background: $white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    height: 36px;
    vertical-align: middle;
    width: 36px;
  }

  .header-search-btn:hover {
    display: inline-block;
    background: #cbd5e0;
    vertical-align: middle;
  }

  .header-search-input {
    background: transparent;
    border: none;
    width: calc(100% - 42px);
  }

  .header-search-input:focus,
  .header-search-input:focus-visible {
    outline: none;
  }
}

.banner-text {
  color: #1E53AEA6;
  font-size: 24px;
  padding-bottom: 20px;

  @include media-min(md) {
    font-size: 45px;
  }

  @include media-min(lg) {
    padding: 40px 20px 40px 0;
    width: 50%;
  }

  @include media-min(xl) {
    font-size: 50px;
    width: 74%;
  }

  @include media-min(xxl) {
    font-size: 70px;
  }

  & .item {
    font-weight: bold;
  }

  @include media-min(lg) {
    & .item {
      line-height: 1.158;
      margin-bottom: 20px;
    }
  }

  & .item:not(:first-child) {
    display: none;

    @include media-min(lg) {
      display: block;
    }
  }
}

.marquee-holder {
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
}

.marquee {
  background: #a6c1f1;
  color: #6087c8;
  padding: 8px 0;
  white-space: nowrap;
  font-weight: 500;
  font-size: 13px;

  @include media-min(lg) {
    font-size: 26px;
    padding: 15px 0;
  }

  @include media-min(xl) {
    font-size: 36px;
  }
}

.banner {
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  @include media-min(lg) {
    flex-direction: row;
  }

  @include media-min(xl) {
    align-items: end;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include media-min(xxl) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.banner-img {
  width: 100%;
  position: relative;

  @include media-min(lg) {
    width: 60%;
  }

  @include media-min(xl) {
    width: 55%;
  }

  &::before {
    background: #ffffff;
    border-radius: 40px;
    content: " ";
    position: absolute;
    width: 102%;
    height: 104%;
    z-index: 1;
    left: -1%;
    top: -2%;
    opacity: 0.76;
  }

  @include media-min(lg) {
    left: -2%;
    top: -2%;
  }

  img {
    border-radius: 27px;
    position: relative;
    z-index: 2;
  }
}