$black: #000;
$gray: #5f5f5f;
$white: #ffffff;
$black: #000000;
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;
$red-500: #f56565;
$green-500: #48bb78;
$blue-200: #669EFF;
$blue-600: #1E53AE;
$yellow-500: #ecc94b;

// Link Colors
$link-color: $gray;
$link-color-hover: $blue-600;
